@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes background-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 100px;
  }
}

.animate-background-stripes {
  animation: background-stripes 15s linear infinite;
}

@keyframes pulse-slow {
  0%, 100% {
    opacity: 0.08;
  }
  50% {
    opacity: 0.2;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 12s ease-in-out infinite;
}
